:root {
  --navy: #1f355e;
  --green: #7bb241;
}

/* Hero Section */
.hero {
  height: 90vh;
  background: linear-gradient(
      rgba(31, 53, 94, 0.85),
      rgba(31, 53, 94, 0.9)
    ),
    url("../assets/hero.jpg") center/cover no-repeat;

  display: flex;
  align-items: center;
  color: white;
}

/* Content */
.hero-content {
  max-width: 600px;
}

/* Heading */
.hero-content h1 {
  font-size: 60px;
  line-height: 1.2;
}

.hero-content h1 span {
  color: var(--green);
}

/* Text */
.hero-content p {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.5;
}

/* Button */
.hero-btn {
  background: var(--green);
  color: white;
  border: none;
  padding: 12px 26px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}